.Footer-container{
    display: flex;
    background-color: lightgray;

}
.Footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Footer-centre{
    padding: 20px;
    flex: 1;
}
.centre-title{
    margin-bottom: 30px;
}
.centre-list{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.list-item{
    width: 50%;
    margin-bottom: 10px;
}

.Footer-right{
    flex: 1;
    padding: 20px;
}
.right-list{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.Footer-paragraph{
    margin: 20px 0px;

}
.social-container{
    display: flex;

}
.social-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color:#3CAEA3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

}
