
.Room-wrapper{
    padding: 50px;
    display: flex;

}
.Image-container{
    flex: 1;

}
.Info-img{
    width: 100%;
    object-fit: cover;

}
.Info-container{
    flex: 1;
    padding: 0px 50px;

}
.Info-desc{
    margin: 20px 0px;

}
.Info-title{
    font-weight: 200;

}
.price{
    font-weight: 100;
    font-size: 40px;

}
.Book-button{
    font-size: 18px;
    padding: 4px 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px
}
.Info-filter{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    width: 30%;

}
.filter{
    display: flex;
    align-items: center;

}
.whatsapp{
    color: #4CAF50;
    font-size: 24;
}
.Book-button:hover {background-color: #3e8e41}

.Book-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}